barkeep-cfgsel/*.o
barkeep-cfgsel/*.ko
barkeep-cfgsel/.*.cmd
barkeep-cfgsel/Module.symvers
barkeep-cfgsel/modules.order
barkeep-dfr/*.o
barkeep-dfr/*.ko
barkeep-dfr/.*.cmd
barkeep-dfr/Module.symvers
barkeep-dfr/modules.order
*.mod
*.mod.c
__pycache__/
*.pyc
Module.symvers
modules.order
.module-common.o
